<h1>Editando: {{user.name}}</h1>


<form action="/users/update" method="POST" class="form">


<input type="hidden" name="id" value="{{user.id}}">


<div class="form-control">

<label>
Nome:
</label>

<input 
type="text" 
name="name"
value="{{user.name}}"
placeholder="Digite seu nome">

</div>




<div class="form-control">

<label>
Profissão:
</label>

<input 
type="text"
name="occupation"
value="{{user.occupation}}"
placeholder="Digite sua profissão">

</div>




<div class="form-control checkbox">

<input 
type="checkbox"
name="newsletter"
{{#if user.newsletter}}
checked
{{/if}}
>

<label>
Enviar promoções?
</label>

</div>



<input 
type="submit"
value="Salvar alterações">


</form>




<hr>


<h2>Endereço</h2>



<form action="/adress/create" method="POST">


<input 
type="hidden"
name="UserId"
value="{{user.id}}">



<div class="form-control">

<label>
Rua:
</label>

<input 
type="text"
name="street"
placeholder="Digite a rua">

</div>




<div class="form-control">

<label>
Número:
</label>

<input 
type="text"
name="number"
placeholder="Número">

</div>




<div class="form-control">

<label>
Cidade:
</label>

<input 
type="text"
name="city"
placeholder="Cidade">

</div>



<input 
type="submit"
value="Salvar endereço">


</form>



<a class="back" href="/">
Voltar
</a>