<h1>Olá Handlebars!</h1>

<p>
    O nome do usuário é {{user.name}} {{user.surname}}  
    ele tem {{user.age}} anos
</p>

<p>{{palavra}}</p>

{{#if aproved}}
<p>
    Parabéns, seu cadastro foi aprovado!
</p>
{{else}}
<p>
    Seu cadastro foi reprovado!
</p>
{{/if}}
{{#if auth}}
    <p>
        Você está autenticado, 
        <a href="/dashboard">Clique aqui</a> para acessar o dashboard!!!
    </p>
{{/if}}